### NumPy: Логическое индексирование [Домашнее задание]
> **Вы должны импортировать все необходимые пакеты самостоятельно.**

> **Пишите код только там, где это показано для записи. Не удаляйте комментарии!**

1. Пожалуйста, напишите функцию ```load_data(filename)```, которая будет загружать данные из csv-файла в список списков. Пожалуйста, напишите функцию load_data (имя файла), которая будет загружать данные из csv-файла в список списков. Файл ```Social_Network_Ads.csv``` предоставлен вместе с этим jupyter notebook.


**Примечание:** В случае, если имя файла задано неверно, функция ```load_data``` должна вывести следующее сообщение об ошибке:

```{имя файла} does not exist```

In [1]:
#Начало вашего кода
import csv
import os 
def load_data(filename):
    if (filename.strip('./') in os.listdir()):
        with open(filename) as f:
            data_csv = csv.reader(f)
            data = list(data_csv)
        return data.pop(0), data
    else:
        print(f'{filename} does not exist')
        return [None,None]
    
#Конец вашего кода

In [2]:
filename = "./SocialNetworkAds.csv"
header, data = load_data(filename=filename)

./SocialNetworkAds.csv does not exist

### Ожидаемый результат:

```
./SocialNetworkAds.csv does not exist
```

In [125]:
print(header)
print(data)

None
None

### Ожидаемый результат:

```
None
None
```

In [126]:
filename = "./Social_Network_Ads.csv"
header, data = load_data(filename=filename)

In [127]:
print(header)

['User ID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased']

### Ожидаемый результат:

```
['User ID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased']
```

In [128]:
for i in range(5):
    print(data[i])

['15624510', 'Male', '19', '19000', '0']
['15810944', 'Male', '35', '20000', '0']
['15668575', 'Female', '26', '43000', '0']
['15603246', 'Female', '27', '57000', '0']
['15804002', 'Male', '19', '76000', '0']

### Ожидаемый результат:

```
['15624510', 'Male', '19', '19000', '0']
['15810944', 'Male', '35', '20000', '0']
['15668575', 'Female', '26', '43000', '0']
['15603246', 'Female', '27', '57000', '0']
['15804002', 'Male', '19', '76000', '0']
```

2. Пожалуйста, напишите функцию ```preprocess_data(data)```, которая преобразует все элементы типа ```str``` в списке ```data``` в целые числа.


**Подсказка:** в случае "Male" и "Female" возможно следующее преобразование:

* заменить "Male" на число 0

* заменить "Female" на число 1

In [129]:
#Начало вашего кода
import numpy as np
def preprocess_data(data):
    a = np.array(data)
    for i in a:
        if i[1] == 'Male':
            i[1] = '0'
        else:
            i[1] = '1'
    a = a.astype('int32')
    return a.tolist()
#Конец вашего кода

In [130]:
filt_data = preprocess_data(data=data)

In [131]:
for i in range(5):
    print(filt_data[i])

[15624510, 0, 19, 19000, 0]
[15810944, 0, 35, 20000, 0]
[15668575, 1, 26, 43000, 0]
[15603246, 1, 27, 57000, 0]
[15804002, 0, 19, 76000, 0]

### Ожидаемый результат:

```
[15624510, 0, 19, 19000, 0]
[15810944, 0, 35, 20000, 0]
[15668575, 1, 26, 43000, 0]
[15603246, 1, 27, 57000, 0]
[15804002, 0, 19, 76000, 0]
```

2. Вы должны реализовать функцию ```salary_info(data, gender=None)```. Используя логическое индексирование, рассчитайте максимальное, минимальное, среднее, и стандартное отклонение зарплаты.

In [132]:
#Начало вашего кода
def salary_info(data, gender=None):
    data = np.array(data)
    if gender == None:
        print('This statisctics are for both genders:')
        print(f'Max salary: {round(data[:,3].max(),2)} USD')
        print(f'Min salary: {round(data[:,3].min(),2)} USD')
        print(f'Mean salary: {round(data[:,3].mean(),2)} USD')
        print(f'Std of salary: {round(data[:,3].std(), 2)} USD')
    else:
        if gender.lower() == 'female':
            print('This statisctics are for only Female:')
            a = data[:,1] == 1
            data = data[a]
            print(f'Max salary: {round(data[:,3].max(),2)} USD')
            print(f'Min salary: {round(data[:,3].min(),2)} USD')
            print(f'Mean salary: {round(data[:,3].mean(),2)} USD')
            print(f'Std of salary: {round(data[:,3].std(),2)} USD')
        if gender.lower() == 'male':
            print('This statisctics are for only Male:')
            a = data[:,1] == 0
            data = data[a]
            print(f'Max salary: {round(data[:,3].max(), 2)} USD')
            print(f'Min salary: {round(data[:,3].min(), 2)} USD')
            print(f'Mean salary: {round(data[:,3].mean(), 2)} USD')
            print(f'Std of salary: {round(data[:,3].std(), 2)} USD')
        


#Конец вашего кода

In [133]:
salary_info(filt_data)

This statisctics are for both genders:
Max salary: 150000 USD
Min salary: 15000 USD
Mean salary: 69742.5 USD
Std of salary: 34054.31 USD

### Ожидаемый результат:

```
This statisctics are for both genders:
Max salary: 150000.00 USD
Min salary: 15000.00 USD
Mean salary: 69742.50 USD
Std of salary: 34054.31 USD
```

In [134]:
salary_info(filt_data, gender="Female")

This statisctics are for only Female:
Max salary: 150000 USD
Min salary: 15000 USD
Mean salary: 71759.8 USD
Std of salary: 35507.89 USD

### Ожидаемый результат:

```
This statisctics are for only Female:
Max salary: 150000.00 USD
Min salary: 15000.00 USD
Mean salary: 71759.80 USD
Std of salary: 35507.89 USD
```

In [135]:
salary_info(filt_data, gender="male")

This statisctics are for only Male:
Max salary: 150000 USD
Min salary: 15000 USD
Mean salary: 67642.86 USD
Std of salary: 32339.0 USD

### Ожидаемый результат:

```
This statisctics are for only Male:
Max salary: 150000.00 USD
Min salary: 15000.00 USD
Mean salary: 67642.86 USD
Std of salary: 32339.00 USD
```

3. Вы должны реализовать функцию ```age_info(data, gender=None)```. Используя логическое индексирование, рассчитайте максимальное, минимальное, среднее, и стандартное отклонение возрастов.

In [136]:
#Начало вашего кода
def age_info(data, gender=None):
    data = np.array(data)
    if gender == None:
        print('This statisctics are for both genders:')
        print(f'Max age: {round(data[:,2].max(),2)} years old')
        print(f'Min age: {round(data[:,2].min(),2)} years old')
        print(f'Mean age: {round(data[:,2].mean(),2)} years old')
        print(f'Std of age: {round(data[:,2].std(),2)} years old')
    else:
        if gender.lower() == 'female':
            print('This statisctics are for only Female:')
            a = data[:,1] == 1
            data = data[a]
            print(f'Max age: {round(data[:,2].max(),2)} years old')
            print(f'Min age: {round(data[:,2].min(),2)} years old')
            print(f'Mean age: {round(data[:,2].mean(),2)} years old')
            print(f'Std of age: {round(data[:,2].std(),2)} years old')
        if gender.lower() == 'male':
            print('This statisctics are for only Male:')
            a = data[:,1] == 0
            data = data[a]
            print(f'Max age: {round(data[:,2].max(),2)} years old')
            print(f'Min age: {round(data[:,2].min(),2)} years old')
            print(f'Mean age: {round(data[:,2].mean(),2)} years old')
            print(f'Std of age: {round(data[:,2].std(),2)} years old')
#Конец вашего кода

In [137]:
age_info(filt_data)

This statisctics are for both genders:
Max age: 60 years old
Min age: 18 years old
Mean age: 37.66 years old
Std of age: 10.47 years old

### Ожидаемый результат:

```
This statisctics are for both genders:
Max age: 60.00 years old
Min age: 18.00 years old
Mean age: 37.66 years old
Std of age: 10.47 years
```

In [138]:
age_info(filt_data,"FEMALE")

This statisctics are for only Female:
Max age: 60 years old
Min age: 18 years old
Mean age: 38.41 years old
Std of age: 10.83 years old

### Ожидаемый результат:

```
This statisctics are for only Female:
Max age: 60.00 years old
Min age: 18.00 years old
Mean age: 38.41 years old
Std of age: 10.83 years
```

In [139]:
age_info(filt_data,"mALE")

This statisctics are for only Male:
Max age: 60 years old
Min age: 18 years old
Mean age: 36.87 years old
Std of age: 10.02 years old

### Ожидаемый результат:

```
This statisctics are for only Male:
Max age: 60.00 years old
Min age: 18.00 years old
Mean age: 36.87 years old
Std of age: 10.02 years
```

4. Реализовать функции ```salary_info_purchased(data, gender=None, purchased=None)``` и ```age_info_purchased(data, gender=None, purchased=None)```, возвращая статистику, как в задачах 2 и 3, но в зависимости от того, приобрел ли человек продукт или нет.

In [140]:
#Начало вашего кода
def salary_info_purchased(data, gender=None, purchased=None):
    data = np.array(data)
    if gender == None:
        if purchased == None:
            print('This statisctics are for both genders:')
        else:
            if purchased == True:
                print('This statisctics are for both genders and who purchased:')
                a = data[:, 4] == 1
                data = data[a]
            if purchased == False:
                print('This statisctics are for both genders and who not purchased:')
                a = data[:, 4] == 0
                data = data[a]
    else:
        if gender.lower() == 'female':
            a = data[:,1] == 1
            data = data[a]
            if purchased == None:
                print('This statisctics are for only Female:')
            if purchased == True: 
                print('This statisctics are for only Female and who purchased:')
                a = data[:, 4] == 1
                data = data[a]
            if purchased == False:
                print('This statisctics are for only Female and who did not purchased:')
                a = data[:, 4] == 0
                data = data[a]
        if gender.lower() == 'male':
            a = data[:,1] == 0
            data = data[a]
            if purchased == None:
                print('This statisctics are for only Male:')
            if purchased == True: 
                print('This statisctics are for only Male and who purchased:')
                a = data[:, 4] == 1
                data = data[a]
            if purchased == False:
                print('This statisctics are for only Male and who did not purchased:')
                a = data[:, 4] == 0
                data = data[a]
    print(f'Max salary: {round(data[:,3].max(),2)} USD')
    print(f'Min salary: {round(data[:,3].min(),2)} USD')
    print(f'Mean salary: {round(data[:,3].mean(),2)} USD')
    print(f'Std of salary: {round(data[:,3].std(),2)} USD')
        

#Конец вашего кода

In [141]:
salary_info_purchased(filt_data)
print("\n")
salary_info_purchased(filt_data, gender="Female")
print("\n")
salary_info_purchased(filt_data, gender="Male")
print("\n")
salary_info_purchased(filt_data, purchased=True)
print("\n")
salary_info_purchased(filt_data, gender="Female", purchased=True)
print("\n")
salary_info_purchased(filt_data, gender="Male", purchased=False)
print("\n")

This statisctics are for both genders:
Max salary: 150000 USD
Min salary: 15000 USD
Mean salary: 69742.5 USD
Std of salary: 34054.31 USD


This statisctics are for only Female:
Max salary: 150000 USD
Min salary: 15000 USD
Mean salary: 71759.8 USD
Std of salary: 35507.89 USD


This statisctics are for only Male:
Max salary: 150000 USD
Min salary: 15000 USD
Mean salary: 67642.86 USD
Std of salary: 32339.0 USD


This statisctics are for both genders and who purchased:
Max salary: 150000 USD
Min salary: 20000 USD
Mean salary: 86272.73 USD
Std of salary: 41916.86 USD


This statisctics are for only Female and who purchased:
Max salary: 150000 USD
Min salary: 20000 USD
Mean salary: 88714.29 USD
Std of salary: 42842.16 USD


This statisctics are for only Male and who did not purchased:
Max salary: 141000 USD
Min salary: 15000 USD
Mean salary: 59630.77 USD
Std of salary: 23413.72 USD

### Ожидаемый результат:

```
This statisctics are for both genders:
Max salary: 150000.00 USD
Min salary: 15000.00 USD
Mean salary: 69742.50 USD
Std of salary: 34054.31 USD


This statisctics are for only Female:
Max salary: 150000.00 USD
Min salary: 15000.00 USD
Mean salary: 71759.80 USD
Std of salary: 35507.89 USD


This statisctics are for only Male:
Max salary: 150000.00 USD
Min salary: 15000.00 USD
Mean salary: 67642.86 USD
Std of salary: 32339.00 USD


This statisctics are for both genders and who purchased:
Max salary: 150000.00 USD
Min salary: 20000.00 USD
Mean salary: 86272.73 USD
Std of salary: 41916.86 USD


This statisctics are for only Female and who purchased:
Max salary: 150000.00 USD
Min salary: 20000.00 USD
Mean salary: 88714.29 USD
Std of salary: 42842.16 USD


This statisctics are for only Male and who did not purchased:
Max salary: 141000.00 USD
Min salary: 15000.00 USD
Mean salary: 59630.77 USD
Std of salary: 23413.72 USD
```

In [144]:
#Начало вашего кода
def age_info_purchased(data, gender=None, purchased=None):
    data = np.array(data)
    if gender == None:
        if purchased == None:
            print('This statisctics are for both genders:')
        else:
            if purchased == True:
                print('This statisctics are for both genders and who purchased:')
                a = data[:, 4] == 1
                data = data[a]
            if purchased == False:
                print('This statisctics are for both genders and who not purchased:')
                a = data[:, 4] == 0
                data = data[a]
    else:
        if gender.lower() == 'female':
            a = data[:,1] == 1
            data = data[a]
            if purchased == None:
                print('This statisctics are for only Female:')
            if purchased == True: 
                print('This statisctics are for only Female and who purchased:')
                a = data[:, 4] == 1
                data = data[a]
            if purchased == False:
                print('This statisctics are for only Female and who did not purchased:')
                a = data[:, 4] == 0
                data = data[a]
        if gender.lower() == 'male':
            a = data[:,1] == 0
            data = data[a]
            if purchased == None:
                print('This statisctics are for only Male:')
            if purchased == True: 
                print('This statisctics are for only Male and who purchased:')
                a = data[:, 4] == 1
                data = data[a]
            if purchased == False: 
                print('This statisctics are for only Male and who did not purchased:')
                a = data[:, 4] == 0
                data = data[a]
    print(f'Max age: {round(data[:,2].max(),2)} USD')
    print(f'Min age: {round(data[:,2].min(),2)} USD')
    print(f'Mean age: {round(data[:,2].mean(),2)} USD')
    print(f'Std of age: {round(data[:,2].std(),2)} USD')
        

#Конец вашего кода

In [145]:
age_info_purchased(filt_data)
print("\n")
age_info_purchased(filt_data, gender="Female")
print("\n")
age_info_purchased(filt_data, gender="Male")
print("\n")
age_info_purchased(filt_data, purchased=True)
print("\n")
age_info_purchased(filt_data, gender="Female", purchased=True)
print("\n")
age_info_purchased(filt_data, gender="Male", purchased=False)
print("\n")

This statisctics are for both genders:
Max age: 60 USD
Min age: 18 USD
Mean age: 37.66 USD
Std of age: 10.47 USD


This statisctics are for only Female:
Max age: 60 USD
Min age: 18 USD
Mean age: 38.41 USD
Std of age: 10.83 USD


This statisctics are for only Male:
Max age: 60 USD
Min age: 18 USD
Mean age: 36.87 USD
Std of age: 10.02 USD


This statisctics are for both genders and who purchased:
Max age: 60 USD
Min age: 27 USD
Mean age: 46.39 USD
Std of age: 8.58 USD


This statisctics are for only Female and who purchased:
Max age: 60 USD
Min age: 27 USD
Mean age: 47.16 USD
Std of age: 8.41 USD


This statisctics are for only Male and who did not purchased:
Max age: 49 USD
Min age: 18 USD
Mean age: 32.48 USD
Std of age: 7.48 USD

### Ожидаемый результат:

```
This statisctics are for both genders:
Max age: 60.00 years old
Min age: 18.00 years old
Mean age: 37.66 years old
Std of age: 10.47 years


This statisctics are for only Female:
Max age: 60.00 years old
Min age: 18.00 years old
Mean age: 38.41 years old
Std of age: 10.83 years


This statisctics are for only Male:
Max age: 60.00 years old
Min age: 18.00 years old
Mean age: 36.87 years old
Std of age: 10.02 years


This statisctics are for both genders and who purchased:
Max age: 60.00 years old
Min age: 27.00 years old
Mean age: 46.39 years old
Std of age:  8.58 years


This statisctics are for only Female and who purchased:
Max age: 60.00 years old
Min age: 27.00 years old
Mean age: 47.16 years old
Std of age:  8.41 years


This statisctics are for only Male and who did not purchased:
Max age: 49.00 years old
Min age: 18.00 years old
Mean age: 32.48 years old
Std of age:  7.48 years
```

# Прекрасная работа!