In [1]:
ans = "qp1"
str2 = 'rg-h3-123-c'
ans = ans + str2.split('-')[-1]

In [3]:
str2.split('-')[-1]

'c'

In [2]:
ans

'qp1c'

In [4]:
x = [['qom', 'market', 451901], [10,20,30], [31,'list', 'area']]

In [11]:
x[0][1][1] #+ str([x[0][2]%2) + str(x[1][2] + x[2][0]) + x[2][-1][-1]

'a'

In [17]:
numbers_1 = [1, 2, 5, 7, 11, 3, 8]
numbers_2 = [4, 6, 11, 8, 77]
c1 = 0 
c2 = 0
t = sum(numbers_1[:2])
for i in numbers_1:
    for j in numbers_2:
        if (i > j and j % 2 == 0):
            c1 += i - j 
            break
    if (c1 > t):
        c2 += 1
ans = c1 + c2
print (ans)

19