1) Используйте for, .split() и if для создания оператора, который будет печатать слова, начинающиеся с 't':

In [24]:
st = 'Print only the words that start with t in this sentence'
for i in st.split(' '):
    if i[0] == 't' or i[0] == 'T':
        print(i, end = ' ')

the that t this

2) Используйте range() для печати всех четных чисел от 0 до 10.(не использовать операторы for, while,if)

In [25]:
x = range(0, 11, 2)
list(x)

[0, 2, 4, 6, 8, 10]

3) Cоздайте **список** всех чисел от 1 до 50, которые делятся на 3.(именно список)

In [26]:
list = []
for i in range(1 , 51):
    if i % 3 ==0:
        list.append(i)
print(list)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

4) Просмотрите строку ниже и, если длина слова четная, выведите «четное!»

In [27]:
st = 'Print every word in this sentence that has an even number of letters'
for i in st.split(' '):
    if len(i) % 2 == 0:
        print('"{}"-четное!'.format(i),end = ' ')

"word"-четное! "in"-четное! "this"-четное! "sentence"-четное! "that"-четное! "an"-четное! "even"-четное! "number"-четное! "of"-четное!

5) Создайте список первых букв каждого слова в строке ниже:

In [28]:
st = 'Create a list of the first letters of every word in this string'
first_letter_list = []
for i in st.split(' '):
    first_letter_list.append(i[0])
print(first_letter_list)

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

6) Найдите сумму чисел в списке ниже: (с двумя способами)

In [29]:
l = [1,2,3,4,5,6,7,8,9,10]
s = 0
for i in l:
    s += i
print(s)

55

In [30]:
sum(l)

55

7) Напишите программу на Python, чтобы умножить все элементы в списке.

In [31]:
l = [2,5,7,3,9]
s=1
for i in range(len(l)):
    s*=l[i]
print(s)

1890

8) Напишите программу на Python, чтобы получить наибольшее число из списка.

In [32]:
l = [2,5,7,3,9,11,50,101]
num = 0
for i in range(len(l)):
    if l[i] > num:
        num = l[i]
print(num)

101

9) Напишите программу на Python, чтобы найти общие элементы из двух списков.

In [33]:
team_1 = ["Darkhan", "Abilay", "Azamat", "Zhasulan"]
team_2 = ["Azamat", "Darkhan", "Aset", "Bolat","Saken"]

In [34]:
same_elements = []
for i in team_1:
    for j in team_2:
        if i == j:
            same_elements.append(i)
print(same_elements)

['Darkhan', 'Azamat']

10) Напишите программу на Python для расширения списка без .append().

In [35]:
l_1 = [10,20,30]
l_2 = [1,2,3,4,5,6]
l_3 = l_1 + l_2 
l_3

[10, 20, 30, 1, 2, 3, 4, 5, 6]

11) Напишите программу на Python для суммирования всех элементов в словаре.

In [36]:
my_dict = {'data1':100,'data2':-54,'data3':247}
s = 0
for i in my_dict:
    s += my_dict[i]
    
print(s)

293

12) Напишите программу на Python, чтобы получить максимальное и минимальное значение в словаре.

In [37]:
my_dict = {'data1':100,'data2':-54,'data3':247}
list_dict = []
for i in my_dict:
    list_dict.append(my_dict[i])
list_dict = sorted(list_dict)
S = list_dict[0]
B = list_dict[-1]
print(S)
print(B)

-54
247

13) Напишите программу на Python, чтобы найти те числа, которые делятся на 7 и кратны 5, между 1500 и 2700 (оба включены).

In [38]:
for i in range(1500 , 2701):
    if i%7 == 0 and i%5 == 0:
        print(i , end=' ')

1505 1540 1575 1610 1645 1680 1715 1750 1785 1820 1855 1890 1925 1960 1995 2030 2065 2100 2135 2170 2205 2240 2275 2310 2345 2380 2415 2450 2485 2520 2555 2590 2625 2660 2695

14) Напишите программу на Python для подсчета количества четных и нечетных чисел из серии чисел.

In [39]:
numbers = (10,11,12,13,14,15,16,17,18,19,20)
odd = 0
even = 0
for i in numbers:
    if i % 2 ==0:
        even +=1
    else:
        odd +=1
print(odd)
print(even)

5
6

15) Напишите программу на Python, чтобы получить ряд Фибоначчи от 0 до 50.

In [40]:
fib_num = []
for i in range(51):
    if i == 0 or i == 1:
        fib_num.append(i)
    else:
        num = fib_num[i-2] + fib_num[i-1]
        fib_num.append(num)
print(fib_num)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465, 14930352, 24157817, 39088169, 63245986, 102334155, 165580141, 267914296, 433494437, 701408733, 1134903170, 1836311903, 2971215073, 4807526976, 7778742049, 12586269025]

16) Напишите программу на Python для расчета возраста собаки по собачьим годам.(Для заданного числа 12, вывод должен быть 61 = 2x10.5+10x4)

**Примечание: в течение первых двух лет год собаки равен 10,5 человеческим годам. После этого каждый год собаки равен 4 человеческим годам.**

In [41]:
a = int(input('Возраст собаки:'))
age = 0

for i in range(a):
    if i < 2:
        age += 10.5
    else:
        age += 4
print(age)

Возраст собаки:20
93.0

17) Напишите программу на Python для преобразования названия месяца в количество дней.

In [42]:
a = input("Enter month: ")
months = {'January' : 31 , 'February' : '28 days in a common year and 29 days in leap years' , 'March' : 31 , 'April' : 30, 
         'May' : 31 , 'June' : 30 , 'July' : 31 , 'August' : 31 , 'September' : 30 , 'October' : 31 , 'November' : 30,
         'December' : 31}
print(months[a])

Enter month: July
31

18) Проверьте является ли слово палиндромом или нет. 

**Примечание: Строка считается палиндромом, если она читается одинаково в обоих направлениях.**

In [43]:
word = "aibohphobia"
if word == word[:: -1]:
    print(True)
else :
    print(False)

True

19) Рядом стоят несколько студентов, у каждого из которых написано какое-то число на спине. Учащиеся собираются разделиться на две команды, отсчитав их по две: те, кто стоит на четных позициях (на основе 0), перейдут в команду А, а те, кто стоит на нечетной позиции, присоединятся к команде В.

Ваша задача - вычислить разницу между суммами чисел, написанными на спинах студентов, которые присоединятся к команде А, и теми, которые написаны на спинах студентов, которые присоединятся к команде Б.

In [47]:
students = [1, 11, 13, 6, 14, 10, 23, 25, 16, 23, 30, 9]
team_A = []
team_B = []
S_A = 0
S_B = 0 
for i in range(len(students)):
    if i % 2 == 0:
        team_A.append(students[i])
    else:
        team_B.append(students[i])
for i in team_A:
    S_A += i
for i in team_B:
    S_B += i
difference = S_A - S_B
print(difference)

13

20) Напишите программу на Python, чтобы найти числа от 100 до 400 (оба включены), где каждая цифра числа является четным числом. Полученные числа должны быть напечатаны в последовательности через запятую.

In [48]:
for i in range(100, 401):
    i = str(i)
    if int(i[0])%2==0 and int(i[1])%2==0 and int(i[2])%2==0:
        print( i , end = ', ')

200, 202, 204, 206, 208, 220, 222, 224, 226, 228, 240, 242, 244, 246, 248, 260, 262, 264, 266, 268, 280, 282, 284, 286, 288, 400,

# Прекрасная работа!