Финальный Проект
---

Пожалуйста, создайте пакет **education**, который содержит следующие модули:

1. users
2. organizations

Когда вы запускаете пакет напрямую, он должен показывать все модули, указанные в пакете.

## Описание модулей приведено ниже:

### Модуль **users** должен содержать классы **Human, Student(Human), Teacher(Human)**.

1. Класс **Human** должен содержать следующую информацию: имя, фамилию, возраст, пол, национальность, а также способы задания этой информации.
 
>``` 
> h1 = Human(name="John", familyname="Wick", age=35, gender="male", nationality="USA")
> ``` 

Список методов:
> ```
set_name()
set_family()
set_age()
set_gender()
set_nationality()
get_info() # возвращает словарь с личной информацией об объекте
> ```

2. Класс **Student** - это детский класс класса Human. Он должен содержать следующую информацию о каждом студенте: имя, фамилия, возраст, пол, национальность, название школы или университета, список предметов и соответствующие методы для установки этой информации.


Список методов в дополнение к списку методов из родительского класса Human:
> ```
set_school()
add_subject() # добавить предмет в список предметов
> ```


3. Класс **Teacher** - это детский класс класса Human. Он должен содержать следующую информацию о каждом преподавателе: имя, фамилия, возраст, пол, национальность, название школы или университета, предмет преподавания и соответствующие методы для установки этой информации.

Список методов в дополнение к списку методов из родительского класса Human:
> ```
set_school()
add_subject() # добавить предмет преподаваемый учителем
> ```

* При непосредственном запуске модуля **users** напрямую должен отображаться список классов, а также списки методов соответствующих классов, приведенных в модуле.

* Когда вы импортируете модуль, он должен показать, что модуль был успешно импортирован.

---

### Модуль **organizations** должен содержать класс **School**.

Класс **School** должен содержать следующую информацию: название или номер школы, адрес школы, номер телефона школы, электронный адрес учебного заведения, количество учеников, количество учителей, а также способы задания этой информации.
 
 
>``` 
> s1 = School(name="NIS", address="Astana, Kazakhstan", phone="999999", num_stud=1000, num_teachers=50)
> ``` 

Список методов:
> ```
set_name()
set_address()
set_phone()
set_email()
set_num_stud()
set_num_teachers()
add_student()
add_teacher()
get_info() # возвращает словарь с информацией про школу без личной информации студентов / преподавателей
get_report() # создает отчет (файл "csv") с информацией о школе и о каждом ученике, а также о преподавателе в этой школе. 
> ```

**Пожалуйста, сделайте правильный формат файла CSV (который вы считаете наиболее понятным)**

* При непосредственном запуске модуля **organizations** напрямую должен отображаться список классов, а также списки методов соответствующих классов, приведенных в модуле.

* Когда вы импортируете модуль, он должен показать, что модуль был успешно импортирован.

---

### Что делать в jupyter notebook?

В этом jupyter notebook, пожалуйста, проверьте все функциональные возможности вашего пакета. Как минимум создайте 2-3 школы, в каждой школе должно быть не менее 10 учеников (с разной информацией), а также как минимум 2 учителя разных предметов и личной информации. **Личная информация этих учеников, учителей и школ не должна быть правдивой (просто выдумайте).**

**Пожалуйста, заархивируйте пакет и данный jupyter notebook вместе и отправьте архивный файл.**

In [1]:
from education import users as U

Modul users has been successfully imported!

In [2]:
from education import organizations as O

Modul organization has been successfully imported!

In [3]:
# school:
school1 = O.School(name="NIS", address="Astana, Kazakhstan", phone="999999",email = '@nis.kz', num_stud=0, num_teachers=0)
school2 = O.School(name="Squid", address="Seoul, Korea", phone="999999",email = '@squid.kr', num_stud=0, num_teachers=0)
school3 = O.School(name="Marvel", address="USA", phone="999999",email = '@disney.com', num_stud=0, num_teachers=0)

In [4]:
# teachers:
t1 = U.Teacher(name="Elena", familyname="Elcina", age=60, gender="female", nationality="Kazakhstan", subject = 'math', school = 'NIS')
t2 = U.Teacher(name="Marina", familyname="Aleksandrova", age=40, gender="female", nationality="Kazakhstan", subject = 'russian', school = 'NIS')
t3 = U.Teacher(name="Sarrah", familyname="Yurieva", age=48, gender="female", nationality="Kazakhstan", subject = 'chemistry', school = 'NIS')

In [5]:
school1.add_teacher(t1)
school1.add_teacher(t2)
school1.add_teacher(t3)

In [6]:
s1 = U.Student(name="Pavel", familyname="Ten", age=21, gender="male", nationality="Kazakhstan",subject = 'math', school = 'NIS')
s1 = U.Student(name="Danial", familyname="Agzam", age=21, gender="male", nationality="Kazakhstan",subject = 'math', school = 'NIS')
s2 = U.Student(name="Alina", familyname="Baimurzinova", age=21, gender="male", nationality="Kazakhstan",subject = 'math', school = 'NIS')
s3 = U.Student(name="Anuarbek", familyname="Almazov", age=21, gender="male", nationality="Kazakhstan",subject = 'math', school = 'NIS')
s4 = U.Student(name="Kamilla", familyname="Baltabayeva", age=21, gender="male", nationality="Kazakhstan",subject = 'math', school = 'NIS')
s5 = U.Student(name="Ariana", familyname="Bolshakova", age=21, gender="male", nationality="Kazakhstan",subject = 'math', school = 'NIS')

In [7]:
school1.add_student(s1)
school1.add_student(s2)
school1.add_student(s3)
school1.add_student(s4)
school1.add_student(s5)
school1.add_student(s5)

In [8]:

t1 = U.Teacher(name="Dong-hyuk", familyname="Hwang", age=60, gender="male", nationality="Korea", subject = 'math', school = 'Squid')
t2 = U.Teacher(name="Jung-jae", familyname="Lee", age=40, gender="male", nationality='Korea', subject = 'russian', school = 'Squid')
t3 = U.Teacher(name="Hae-soo", familyname="Park", age=48, gender="male", nationality="Korea", subject = 'chemistry', school = 'Squid')

In [9]:
# students:
s1 = U.Student(name="Ho-yeon", familyname="Jung", age=21, gender="female", nationality="Korea",subject = 'math', school = 'Squid')
s1 = U.Student(name="Yeong-su", familyname="O", age=21, gender="male", nationality="Korea",subject = 'math', school = 'Squid')
s2 = U.Student(name="Sung-tae", familyname="Heo", age=21, gender="male", nationality="Korea",subject = 'math', school = 'Squid')
s3 = U.Student(name="Tripathi", familyname="Anupam", age=21, gender="male", nationality="Korea",subject = 'math', school = 'Squid')
s4 = U.Student(name="Joo-ryoung", familyname="Kim", age=21, gender="female",nationality="Korea",subject = 'math', school = 'Squid')
s5 = U.Student(name="Jae-il", familyname="Jung", age=21, gender="male", nationality="Korea",subject = 'math', school = 'Squid')

In [10]:
school2.add_teacher(t1)
school2.add_teacher(t2)
school2.add_teacher(t3)

In [11]:
school2.add_student(s1)
school2.add_student(s2)
school2.add_student(s3)
school2.add_student(s4)
school2.add_student(s5)

In [12]:
t1 = U.Teacher(name="Joss", familyname="Whedon", age=60, gender="male", nationality="USA", subject = 'math', school = 'Marvel')
t2 = U.Teacher(name="Zak", familyname="Penn", age=40, gender="male", nationality='USA', subject = 'russian', school = 'Marvel')
t3 = U.Teacher(name="Chris", familyname="Evans", age=48, gender="male", nationality="USA", subject = 'chemistry', school = 'Marvel')

In [13]:
# students:
s1 = U.Student(name="Robert ", familyname="Downey Jr.", age=21, gender="male", nationality="USA",subject = 'math', school = 'Squid')
s1 = U.Student(name="Mark", familyname="Ruffalo", age=21, gender="male", nationality="USA",subject = 'math', school = 'Squid')
s2 = U.Student(name="Chris", familyname="Hemsworth", age=21, gender="male", nationality="USA",subject = 'math', school = 'Squid')
s3 = U.Student(name="Scarlett", familyname="Johansson ", age=21, gender="female", nationality="USA",subject = 'math', school = 'Squid')
s4 = U.Student(name="Jeremy", familyname="Renner", age=21, gender="male",nationality="USA",subject = 'math', school = 'Squid')
s5 = U.Student(name="Tom", familyname="Hiddleston", age=21, gender="male", nationality="USA",subject = 'math', school = 'Squid')

In [14]:
school3.add_teacher(t1)
school3.add_teacher(t2)
school3.add_teacher(t3)

In [15]:
school3.add_student(s1)
school3.add_student(s2)
school3.add_student(s3)
school3.add_student(s4)
school3.add_student(s5)

In [16]:
school3.get_report()
school1.get_report()
school2.get_report()

In [17]:
school4 = O.School(name="NIS", address="Astana, Kazakhstan", phone="999999",email = '@nis.kz', num_stud=0, num_teachers=0)
school4.add_student(s1)
school4.get_report()

In [18]:
school5 = O.School(name="Marvel", address="USA", phone="999999",email = '@disney.com', num_stud=0, num_teachers=0)
p1 = U.Student(name="Random", familyname="Name", age=21, gender="male", nationality="USA",subject = 'math', school = 'Marvel')
school5.add_student(p1)

In [19]:
school5.get_report()